<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Company</th>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Date oF Joining</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewEmployee">
                    <td>{{i.name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.bloodgroup}}</td>
                    <td>{{i.company}}</td>
                    <td>{{i.employeecode}}</td>
                    <td>{{i.dateofjoining}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>